DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=schedule_visits
DB_USERNAME=postgres
DB_PASSWORD=secret

APP_TIMEZONE=America/Sao_Paulo

SCHEDULE_FIRST_SLOT=09:00
SCHEDULE_LAST_SLOT=18:00
SCHEDULE_SLOT_MINUTES=60
SCHEDULE_DAYS_AHEAD=14
